@import url("./reset.css");
body {
  background-color: #b8ebdb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.btn-submit,
.btn-play-again {
  width: 50%;
  height: 60px;
  background-color: rgb(255, 231, 151);
  border: 2px solid #000;
  padding: 5px;
  border-radius: 15px;
}
.input-user {
  width: 300px;
  border-radius: 15px;
  height: 40px;
  align-items: center;
  padding-left: 15px;
}
.user-interface {
  margin: auto;
  width: 720px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.game-info {
  margin: auto;
  width: 720px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.content-desc,
.content-word {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}
.desc {
  text-align: center;
}
.content-desc {
  font-size: 2em;
}
.ul-word {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-status {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.disabled {
  opacity: 0;
}
.footer {
  text-align: center;
  margin: auto;
  height: max-content;
}
